.nav-menu {
  background-color: #1d2d50;
  width: 450px;

  display: flex;
  justify-content: center;
  position: fixed;
  top: 200px;
  left: 600px;
  border-radius: 10px;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 10px 8px 0px;
  list-style-type: none;
  height: 80px;
  margin-left: 30px;
}

.nav-text a {
  text-decoration: none;
  color: azure;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #1c7ce9;
}

.nav-menu-items {
  width: 80%;
}
.setting {
  font-size: 30px;
}
.button {
  background-color: #ffc856;
  color: #1d2d50;
  border-radius: 5px;
  height: 26x;
}
