.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.646);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  max-width: 100%;
  background-color: #1E5F74;
  border-radius:8px;
  text-align:center;
  padding-bottom:15px;
  order: 1px solid #1D2D50;
  border-radius: 15px;
  box-shadow: 0px 6px 2px -1px #1D2D50;
  
}
.addFriendButton{
  font-family:Montserrat;
  font-color:#1D2D50;
  border-radius:10px;
  width:200px;
  font-size:20px;
  background-color:#FFC856;
  order: 1px solid #1D2D50;
  border-radius: 15px;
  box-shadow: 0px 3px 2px -1px #1D2D50;
  margin-bottom:25px;
}
.popupHeader{
  font-family:Montserrat;
  font-size:42px;
  color:white;
  text-align:center;
  padding-top:10px;
  padding-bottom:30px;
}
.formItem{
  color:white;
  text-align:left;
  padding-left:30px;
  font-family:Montserrat;
  width:72.8%;
  font-size:20px;
  margin: 0 auto;
  height:50px;
  margin-top:10px;
  margin-bottom:40px;
  background-color:#133B5C;
  border: 1px solid #1D2D50;
  border-radius: 15px;
  box-shadow: 0px 3px 2px -1px #1D2D50;
}
